#################
## Yuchen
#################

data/
output/
temp.*

# User-specific files
*.suo
*.user

# Build result
/[Dd]ebug/
/[Rr]elease/
/x64/
/ModelFitting/[Dd]ebug/
/ModelFitting/[Rr]elease/
/ModelFitting/x64/
/Vesselness/[Dd]ebug/
/Vesselness/[Rr]elease/
/Vesselness/x64/
/Vesselness/*.exe
/Visualization/[Dd]ebug/
/Visualization/[Rr]elease/
/Visualization/log.txt



# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
