#################
## Yuchen
#################

# temporary datas
/temp/*
temp.*
*/output/*

# User-specific files
*.suo
*.user

# Build result
/[Dd]ebug/
/[Rr]elease/
/x64/
/ModelFitting/[Dd]ebug/
/ModelFitting/[Rr]elease/
/ModelFitting/x64/
/ModelFitting/data/
/VesselNess/output/
/VesselNess/dependencies/*
/VesselNess/data/
/Vesselness/[Dd]ebug/
/Vesselness/[Rr]elease/
/Vesselness/x64/
/Vesselness/*.exe
/Visualization/[Dd]ebug/
/Visualization/[Rr]elease/
/Visualization/log.txt
/VesselNess-cuda/Release/
/VesselNess-cuda/Debug/
/VesselNess-cuda/x64/
Levenberg–Marquardt/x64/
Levenberg–Marquardt/[Dd]ebug/
Levenberg–Marquardt/[Rr]elease/




# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.pdb



ModelFitting/*.o
ModelFitting/gmon.out
ModelFitting/executable.exe
ModelFitting/analysis.txt
ModelFitting/modelfitting.exe
ModelFitting/profiling_analysis.txt
ModelFitting/SparseMatrix/x64/*
