#################
## Yuchen
#################

data/
output/

# User-specific files
*.suo
*.user

# Build result
[Dd]ebug/
[Rr]elease/
x64/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
